{{#if areProducts}}
  <section>
    <h2> List of products</h2>
    <table>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Photo</th>
      </tr>
      {{#each products}}
        <tr>
          <td class='product'>{{this.title}}</td>
          <td class='product'>{{this.price}}</td>
          <td class='product'>
            <img src='{{this.thumpnail}}' alt='product photo' />
          </td>
        </tr>
      {{/each}}
    </table>
    <button>
      <a href='/static/addProduct.html'>Add product</a>
    </button>
  </section>
{{/if}}
{{#unless areProducts}}
  <section>
    <h2> List of products</h2>
    <div class='warning'>
      <h3>Not found products</h3>
    </div>
    <button type="button">
      <a href='/static/addProduct.html'>Add product</a>
    </button>
  </section>

{{/unless}}