html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title List of product
  style
    include ../public/style.css
  body
    if areProducts
      section
        h2 List of products
        table
          tr
            th Name
            th Price
            th Photo
          each val in products
            tr
              td(class='product')= val.title
              td(class='product')= val.price
              td(class='product'): img(src=val.thumpnail alt='product photo')
        button: a(href='/static/addProduct.html') Add product
    unless areProducts
      section
        h2 List of products
        div(class='warning')
          h3 Not found products
        button(type="button"): a(href='/static/addProduct.html') Add product
